.navbar.navBorderAtTopA {
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;   
}

.navbar.navBorderAtTopB {
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;  
}