.dark_blue_button, #dark_blue_button {
    background-color: #0066FF;
}
#dark_blue_tab {
    color: #0033FF;
}
.link, .button_text {
    color: #0066FF;
}
.black {
    color: #000000;
}
.dark_green_button {
    background-color: #0C6600;
}