body {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #28a745 0%, #17a2b6 74%);
    min-height: 100vh;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
}
