node_modules
.next
.vscode
src/db/potential-seeders
config/env.dev.js
config/env.prod.js
config/env.test.js
logs
resources/styles/css/aips.css
docker-compose.prod.yml
docker-compose.test.yml
resources/img/groupimages/*

/yarn-error.log